<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685210954984-00s57cngjrso5i0v0bchfa5ku61afirr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685210954984-00s57cngjrso5i0v0bchfa5ku61afirr</string>
	<key>API_KEY</key>
	<string>AIzaSyA5xQmI-7xXf8nWmXedqrotQ5AiAlUe3mo</string>
	<key>GCM_SENDER_ID</key>
	<string>685210954984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technopark.todoin.ToDoIn</string>
	<key>PROJECT_ID</key>
	<string>todoin-17424</string>
	<key>STORAGE_BUCKET</key>
	<string>todoin-17424.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685210954984:ios:8ce99a891d4db30df52d5d</string>
</dict>
</plist>